*{
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: 518px;
    background: rgb(58, 55, 55);
    margin-left: 500px;
    border-radius: 10%;
    align-items: center;
    margin-top: auto;
}
#listing{
    width: 80%;
    margin-left: 37px;
    margin-top: 25px;
    height: 55px;
    pointer-events: none;
    border-radius: 10   %;
    background: rgb(240, 238, 117);
}
.btn{
    width: 65px;
    height: 65px;
    margin-left: 15px;
    border-radius: 10%;
}
.row{
    margin-left: 29px;
    margin-top: 15px;
}
.btno{
    width: 55px;
    height: 55px;
    margin-left: 43px;
    margin-top: 15px; 
    background: red;
}
.main-body{
    background: linear-gradient(100deg, red, blue);
    height: 742px;
}