*{
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: 518px;
    background: rgb(207, 223, 113);
    margin-left: 500px;
    border-radius: 10%;
    align-items: center;
    margin-top: auto;
}
#listing{
    width: 80%;
    margin-left: 37px;
    margin-top: 25px;
    height: 55px;
    pointer-events: none;
    border-radius: 10   %;
    background: rgb(240, 238, 117);
}
.btn{
    width: 65px;
    height: 65px;
    margin-left: 15px;
    border-radius: 10%;
}
.row{
    margin-left: 29px;
    margin-top: 15px;
}
.btno{
    width: 55px;
    height: 55px;
    margin-left: 43px;
    margin-top: 15px; 
    background: red;
}
.main-body{
    height: 742px;
    padding-top: 121px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxRt9B-0VF1eQtmsZIT0MUS2NoAgzTwbxS74Sl0vZ4bS-IbWtPUKuX5jeND_Qa-DfRrZU&usqp=CAU);
}